@{ ViewData["Title"] = "Home Page"; }
<style>
    .container {
        display: flex;
        top: 0;
        left: 0;
        height: 50%;
        width: 50%;
    }

    .container .row {
        margin: 0 auto;
    }
</style>

<div class="container">
    <!-- CARD WITH IMAGE -->
    <div class="card">
        <div class="card-image">
            <img src="images/aboutme.jpg" alt="">

        </div>
        <div class="card-content">
            <span class="card-title indigo-text">About Me</span>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi harum enim inventore ullam expedita nesciunt ea
                voluptatem corporis iusto sint?

            </p>

        </div>
        <div class="card-action">
            <a href="#">Read More</a>
        </div>
    </div>
</div>
</div>